:root {
  --border-size: 2px;
  --margin-size: 5px;
  --padding-size: 5px;
}

#main-container {
  position: absolute;
  margin: var(--margin-size);
  /* padding: var(--padding-size); */
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  background-color: whitesmoke;
}

/* .display-container {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 25%;
  width: 100%;
  background-color: brown;
} */

.err-msg {
  color: red;
}

.display-title-container {
  position: relative;
  margin: var(--margin-size);
  padding: var(--padding-size);
  /* height: 5%; */
  background-color: yellow;
}

.display-title-container .display-title-text-container {
  text-align: center;
}

.display-title-container .display-title-err-container {
  text-align: left;
}

/* Let the image container be as big as it needs to be in order to contain the image, but make it
 centered. This seems to auto-size pretty well. 
 */
.display-image-container {
  /* Note: Making the item "relative" appears to make sure that other elements (ex: the "where" 
  div and "when" div) that render after it will take into account this div's width and height, 
  while making this div "absolute" will cause elements that are rendered afterwards to _not_ take 
  this div's final rendered width and height into account. 
  
  I think.
 */
  position: relative;
  margin: var(--margin-size);
  text-align: center;
  background-color: yellow;
}

.display-image-container .event-image {
  max-width: 100%;
  max-height: 100%;
}

.display-image-container .event-image-err-container {
  text-align: left;
}

.display-image-container .imageEditButtonselectEventImageBtn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.display-where-container {
  position: relative;
  margin: var(--margin-size);
  /* padding: var(--padding-size); */
  /* height: 5%; */
  overflow-x: visible;
  overflow-y: hidden;
  white-space: nowrap;
  background-color: yellow;
}

.display-where-container .event-where-err-container {
  text-align: left;
}

/* Note: "overflow: hidden" encapsulates the "float" elements too. The "float" style seems to 
intentionally disconnect the element from the dimensions of its parent container (gives it more
 freedom, maybe?), but the parent container can still be forced to encapsulate it by using 
 "overflow: hidden". All I want is the "float-start" and "float-end" styles, and I want the 
 container to still contain them. */
.display-when-container {
  position: relative;
  overflow: hidden;
  margin: var(--margin-size);
  /* padding: var(--padding-size); */
  /* position: absolute;
  left: 0px;
  right: 0px;
  top: 50%;
  bottom: 40%; */
  /* height: 10%; */
  background-color: yellow;
}

.display-when-container .when-info-header {
  font-size: small;
}

.display-when-container .lower-bound-time {
  float: left;
  color: blue;
}

.display-when-container .upper-bound-time {
  float: right;
  color: green;
}

.display-when-container .event-when-err-container {
  text-align: left;
}

.display-summary-container {
  position: relative;
  margin: var(--margin-size);
  /* padding: var(--padding-size); */
  /* position: absolute;
  left: 0px;
  right: 0px;
  top: 60%;
  bottom: 0px; */
  /* height: 40%; */
  /* opacity: 20%; */
  background-color: yellow;
}

.display-summary-container .event-summary-char-count-container {
  text-align: right;
}

.display-summary-container .event-summary-err-container {
  text-align: left;
}

.display-revision-info-container {
  position: relative;
  margin: var(--margin-size);
  background-color: yellow;
}