:root {
  --border-size: 2px;
  --margin-size: 5px;
}

#main-container {
  position: absolute;
  margin: var(--margin-size);
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  background-color: whitesmoke;
}

.search-container {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 25%;
  width: 100%;
  /* background-color: brown; */
}

.search-text-container {
  margin: var(--margin-size);
  background-color: brown;
}

.search-text-box {
  width: 90%;
}

.search-date-container {
  margin: var(--margin-size);
  width: 70%;
  background-color: brown;
}

.search-date-span {
  /* float: left; */
}

.search-date-select {
  float: right;
}

.search-button-container {
  margin: var(--margin-size);
}

.search-button {
  float: left;
}

.search-results-container {
  position: absolute;
  top: 25%;
  left: 0px;
  bottom: 0px;
  width: 100%;
  background-color: pink;
}

.search-results-list {
  /* margin: var(--margin-size); */
  width: 100%;
  height: 100%;
}

/* https://stackoverflow.com/questions/11931154/how-to-position-three-divs-in-html-horizontally */
/* #date-select-container {
  display: inline-block;
  vertical-align: top;
} */