:root {
  --border-size: 2px;
}

html,
body {
  height: 100%;
  margin: 0
}

.App {
  text-align: left;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* 
Adjust content, padding, border, and margins
https://www.digitalocean.com/community/tutorials/how-to-adjust-the-content-padding-border-and-margins-of-an-html-element-with-css

Note: For the "div" tag, setting the style _must_ be done via id="". Usage of classname="" doesn't work. I don't know why. It might be my version of node.js. Or my version of Chrome.

In practice:
https://jsfiddle.net/43tjn91k/1/

Then I added my own use of calc(...) and the border size 
 */
#search-window {
  position: absolute;
  left: calc(var(--border-size));
  top: calc(150px - var(--border-size));
  width: calc(25% - var(--border-size));
  height: calc(70% - var(--border-size));
  overflow-y: auto;
  background-color: red;
  border: var(--border-size) solid black;
}

#globe-window {
  position: absolute;
  left: calc(25%);
  top: calc(150px - var(--border-size));
  width: calc(50% - var(--border-size));  
  height: calc(70% - var(--border-size));
  background-color: white;
  border: var(--border-size) solid green;
}

#display-entry-window {
  position: absolute;
  left: calc(75%);
  top: calc(150px - var(--border-size));
  width: calc(25% - var(--border-size));
  height: calc(70% - var(--border-size));
  overflow-y: auto;
  background-color: brown;
  border: var(--border-size) solid darkgreen;
}

#timeline-window {
  position: absolute;
  left: calc(var(--border-size));
  top: calc(150px + 70% - var(--border-size));
  width: calc(100% - (2 * var(--border-size)));
  height: calc(18% - (2 * var(--border-size)));
  overflow: auto;
  background-color: yellow;
  border: var(--border-size) solid blue;
}
