:root {
  --border-size: 2px;
}

html,
body {
  height: 100%;
  margin: 0
}

.App {
  text-align: left;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* 
Source:
https://stackoverflow.com/questions/90178/make-a-div-fill-the-height-of-the-remaining-screen-space?rq=1
 */
/* .box {
  display: flex;
  flex-flow: column;
  height: 80%;
}

.box .row {
  border: 1px dotted grey;
}

.box .row.header {
  flex: 0 1 auto;
}

.box .row.content {
  display: flex;
  flex-flow: column;
  flex: 1 1 auto;
  overflow-y: scroll;
  background-color: blue;
}

.box .row.footer {
  flex: 0 1 40px;
} */

/* 
Adjust content, padding, border, and margins
https://www.digitalocean.com/community/tutorials/how-to-adjust-the-content-padding-border-and-margins-of-an-html-element-with-css
 */

/* .search {
  width: calc(25% - (2 * var(--border-size)));
  height: calc(80% - (2 * var(--border-size)));
  float: left;
  background-color: red;
  border: var(--border-size) solid black;
}

.globe {
  width: calc(50% - (2 * var(--border-size)));
  height: calc(80% - (2 * var(--border-size)));
  float: left;
  background-color: white;
  border: var(--border-size) solid green;
}

.displayentry {
  width: calc(25% - (2 * var(--border-size)));
  height: calc(80% - (2 * var(--border-size)));
  float: right;
  background-color: brown;
  border: var(--border-size) solid darkgreen;
}

.timeline {
  width: calc(100% - (2 * var(--border-size)));
  height: calc(20% - (2 * var(--border-size)));
  float: left;
  background-color: yellow;
  border: var(--border-size) solid blue;
} */

.thing1 {
  border: 1px solid black;
  width: 250px;
  height: 100px;
  overflow-y: auto;
  margin-bottom: 120px;
}

#thing2 {
  border: 1px solid black;
  width: 250px;
  height: 100px;
  overflow-y: auto;
  margin-bottom: 120px;
}

#div1,
#div2,
#div3,
#div4 {
  border: 1px solid black;
  width: 250px;
  height: 100px;
}

#div1 {
  overflow-y: hidden;
  margin-bottom: 12px;
}

#div2 {
  overflow-y: scroll;
  margin-bottom: 12px;
}

#div3 {
  overflow-y: visible;
  margin-bottom: 120px;
}

#div4 {
  overflow-y: auto;
  margin-bottom: 120px;
}